* {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(211, 211, 211);
}

h1 {
    text-align: center;
    margin: none;
    font-size: 64px;
}

.banner {
    margin: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

.gridcont {
    width: 500px;
    height: 500px;
    margin: none;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px gray;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    position: absolute;
    top: 25%;
    background-color: white;
}